.Machine {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;

    text-align: center;
    border: 5px solid green;

    border-radius: 15px 50px 30px;
    background: #ffffff;
    padding: 20px;
    width: 200px;
    height: 150px;
}


.condition {
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
}
